.main_header {background-color: #66a3ff; height: 90px ; width: 100%; display: flex; border-bottom: 1px solid black;}
.hamburger_menu_wrapper {height: 100%; width: 15%; display: flex; justify-content: center; align-items: center;}
.hamburger_logo_wrapper {height: 40px; width: 60px; display: flex; justify-content: center; align-items: center;}
.main_header_text_logo {height: 100%; width: 70%; display: flex; justify-content: center; align-items: center;}
.main_header_text {font-family: sans-serif; font-size: 30px; color: white; font-weight: bolder;}
.main_header_logo {width: 60px; height: 60px; margin-left: 10px; display: flex; justify-content: center; align-items: center;}
.logout_menu_wrapper {height: 100%; width: 15%; display: flex; justify-content: center; align-items: center;}
.logout_button_wrapper {height: 40px; width: 80px; display: flex; justify-content: center; align-items: center;}

.main {background-color: #e6e6e6; height: 1000px; width: 100%;}

/* Style rules for the Season wrapper and its contents (season box and season selector) */
.season_wrapper {height: 180px; width: 100%; background-color: #e6e6e6; text-align: center; display: flex; justify-content: center; align-items: center;}
.season_box {
             display: inline-block; width: 300px; height: 70px; background-color: #66a3ff; text-align: center; display: flex; justify-content: center;
             align-items: center; border: 1px solid black; border-top-left-radius: 10px; border-bottom-left-radius: 10px;
            }
.season_selector {
                  display: inline-block; width: 300px; height: 70px; background-color: white; text-align: center; display: flex; justify-content: center;
                  align-items: center; border-top: 1px solid black; border-bottom: 1px solid black; border-right: 1px solid black; border-top-right-radius: 10px; border-bottom-right-radius: 10px;
                 }

.season_box p {font-family: sans-serif; font-size: 20px; color: white; font-weight: bolder;}
.season_selector p {font-family: sans-serif; font-size: 20px; color: black; font-weight: bolder; width: auto; display: inline-block;}
#selector_logo {width: 40px; height: 58px; margin-left: 5px;}

/* Style rules for the Team and Table wrapper and its contents (Team name and logo, and Team Table Schedule)*/
.team_table_wrapper {background-color: #e6e6e6; height: auto; width: 100%; display: flex; flex-wrap: wrap;}

.team_profile_block {background-color: #e6e6e6; height: 600px; width: 700px; display: inline-block; position: absolute; left: 5%; justify-content: center;}
.team_profile_name {
                     width: 500px; height: 80px; background-color: white; text-align: center; display: flex;
                     justify-content: center; align-items: center; margin: auto; border-radius: 10px; border: 1px solid black;
                   }
.team_profile_name p {font-family: sans-serif; font-size: 20px; color: black; font-weight: bolder; width: auto; display: inline-block;}
#pen_logo {width: 35px; height: 35px; margin-left: 25px; text-align: center; display: flex; justify-content: center; align-items: center;}
#image_select_logo {width: 35px; height: 35px; margin-left: 10px; text-align: center; display: flex; justify-content: center; align-items: center;}
#team_profile_logo {
                    width: 400px; height: 400px; margin: auto; margin-top: 60px;
                    text-align: center; display: flex; justify-content: center;align-items: center;
                   }


.team_table_block {background-color: #e6e6e6; height: 800px; width: 700px; display: inline-block; position: absolute; right: 5%; justify-content: center;}
.table_heading {
                width: 500px; height: 80px; background-color: white; text-align: center; display: flex;
                justify-content: center; align-items: center; margin: auto; border-radius: 10px; border: 1px solid black;
               }
.table_heading p {font-family: sans-serif;; font-size: 20px; color: black; font-weight: bolder; width: auto; display: inline-block;}
#calendar_logo {width: 35px; height: 35px; margin-left: 30px; text-align: center; display: flex; justify-content: center; align-items: center;}
#team_table {width: 100%; height: 600px; margin: auto; margin-top: 40px; border: 1px solid black;}
