.main_header {background-color: #66a3ff; height: 90px ; width: 100%; display: flex;}
.hamburger_menu_wrapper {border: 1px solid black; height: 100%; width: 15%; display: flex; justify-content: flex-start;}
.left_side_hamburger_wrapper {background-color: red; height: 100%; width: 100%; display: flex; justify-content: center; align-items: center;}
.hamburger_logo_wrapper {border: 1px solid white; height: 40px; width: 60px; display: flex; justify-content: center; align-items: center;}
.right_side_hamburger_wrapper {background-color: green; height: 100%; width: 50%;}
.main_header_text_logo {border: 1px solid green; height: 100%; width: 70%; display: flex; justify-content: center; align-items: center;}
.main_header_text {border: 1px solid white; font-family: sans-serif; font-size: 30px; color: white; font-weight: bolder;}
.main_header_logo {border: 1px solid white; width: 60px; height: 60px; margin-left: 10px; display: flex; justify-content: center; align-items: center;}
.logout_menu_wrapper {border: 1px solid black; height: 100%; width: 15%; display: flex;}

.right_side_logout_wrapper {background-color: blue; height: 100%; width: 100%; display: flex; justify-content: center; align-items: center;}
.logout_button_wrapper {background-color: white; height: 40px; width: 80px; display: flex; justify-content: center; align-items: center;}
