/* Style rules for the main page header and all of its elements (hamburger menu icon, page header, and logout button) */
.main_header {background-color: #66a3ff; height: 90px ; width: 100%; text-align: center; display: flex; justify-content: center; align-items: center;}
.hamburger_menu {display: inline-block; width: 60px; height: 40px; border: 1px solid white; margin-right: 640px; background-color: white;}
.main_header_text_logo {display: inline-block; text-align: center; display: flex; justify-content: center; align-items: center;}
.main_header_text {font-family: sans-serif; font-size: 30px; color: white; font-weight: bolder; display: inline-block;}
.main_header_logo {display: inline-block; width: 40px; height: 40px; border: 1px solid white; background-color: white; margin-left: 20px;}
.logout_button {display: inline-block; margin-left: 640px;}


.main {background-color: #e6e6e6; height: 850px; width: 100%; display: flex; justify-content: center;}

/* Style rules for the settings box and all of its elements (grid, row, columns, etc) */
.setting_box {width: 800px; height: 645px; background-color: #66a3ff; margin-top: 125px; text-align: center;}
.setting_box_grid_container {width: 700px; height: 525px; background-color: #66a3ff; margin: auto; margin-top: 45px;}
.row {width: 700px; height: 80px; margin-bottom: 25px; display: flex;}
.column_1 {width: 200px; height: 80px; background-color: white; margin-right: 50px; display: inline-block; text-align: center; display: flex; justify-content: center; align-items: center;}
.column_2 {width: 450px; height: 80px; background-color: white; display: inline-block; text-align: center; display: flex; justify-content: center; align-items: center;}

/* Style rules for the column boxes within each row and all of its elements (column text, pencil logo, and checkmark logo) */
.column_1 p {font-family: sans-serif; font-size: 15px; color: black; font-weight: bolder;}
.column_2 p {font-family: sans-serif; font-size: 15px; color: black; font-weight: bolder;}
.pencil_logo {width: 30px; height: 30px; background-color: black;}
.checkmark_logo {width: 30px; height: 30px; background-color: black; margin-left: 15px;}
#delete_button {background-color: #e26458; color: white; width: 170px; height: 50px;}
